body{
	margin: 0;
 	padding: 25px;
    background: url(sampaguita.png);
 	background-size: cover;
	font-family: sans-serif;
}
.main{
	width: 400px;
	padding: 40px;
	background: rgba(183, 56, 136, 0.56);
	color: white;
	top: 50%;
	left: 50%;
	position: absolute;
	transform: translate(-50%, -50%);
	box-sizing: border-box;
	box-shadow: 0 20px 30px rgba(1,0,0,0.5);
	border-radius: 20px;
	text-align: center;
}
.logo{
	width: 100px;
	height: 100px;
	border-radius: 50%;
	position: absolute;
	top: -65px;
	left: calc(50% - 50px);
}
.inputText{
	position: relative;
}
.inputText input{
	width: 100%;
	padding: 10px 0;
	font-size: 16px;
	color: #fff;
	letter-spacing: 1px;
	margin-bottom: 30px;
	border: none;
	border-bottom: 3px solid #fff;
	outline: none;
	background: transparent;
	text-align: left;
}
.inputText label{
	position: absolute;
	top: 0;
	left: 0;
	padding: 10px 0;
	font-size: 16px;
	font-weight: bold;
	color: #fff;
	letter-spacing: 1px;
	pointer-events: none;
	transition: .5s;
}
.inputText input:focus ~ label,
.inputText input:valid ~ label
{
	top: -18px;
	left: 0;
	color: #fff;
	font-size: 12px;
}
.button-field{
	background: transparent;
	border: none;
	outline: none;
	background: #38267F;
	color: white;
	padding: 10px 20px;
	cursor: pointer;
	border-radius: 5px;
	border-width: 10px;
	font-size: 16px;
	padding: 10px 50px;
}
.button-field:hover{
	background: white;
	color: black;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
	cursor: pointer;
}
a{
	color: white;
}
a:hover{
	color: #38267F;
}